.footer{
    background: var(--darkBlue);
    padding: 2em 0;
    text-align: center;
    &-logo{
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
    }
    &-link{
        display: block;
        text-decoration: none;
        color: var(--light-grayish-blue);
        margin-bottom: 2em;

    }
    &-social{
        display: grid;
        grid-template-columns: repeat(5, 25px);
        grid-column-gap: 1em;
        justify-content: center;
        margin: 2.5em 0;
    }
    &-copyright{
        margin-top: 2.5em;
        font-size: 14px;
    }
    // @media screen and (min-width: 768px) {
    //     background: rgb(16, 99, 79);
    // }
    @media screen and (min-width: 1024px) {
        .wrapper{
            display: grid;
            grid-column-gap: 7em;
            grid-template-columns: 200px 1fr 400px;
            grid-template-areas: "logo links button"
            "social links copyright";
        }
        &-logo{
            // border: solid 2px skyblue;
            grid-area: logo;
            margin: initial;
        }
        &-social{
            // border: solid 2px coral;
            grid-area: social;
        }
        &-links{
            // border: solid 2px rosybrown;
            grid-area: links;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: start;
        }
        &-button{
            // border: solid 5px white;
            grid-area: button;
            text-align: right;
        }
        &-copyright{
            // border: solid 3px seashell;
            grid-area: copyright;
            text-align: right;
        }

    }
}