.header{
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    position: relative;
    &-logo{
        // border: solid 3px violet;
        align-self: center;
    }
    .button{
        display: none;
    }
    &-content{
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1024px) {
        .button{
            display: inline;
        }
        &-content{
            // border: solid 2px red;
            display: flex;
            justify-content: space-between;
        }
        
    }
}