.hero{
    text-align: center;
    padding-bottom: 5em;
    background: var(--light-grayish-blue);
    // overflow-x: hidden;
    .copy{
        margin-bottom: 2.3em;
    }
    &-imagePng{
        display: none;
    }
    &-img{
        height: 300px;
        margin: 0 -1.5em;
        background: url('../static/images/image-mockups.png') center bottom no-repeat, url('../static/images/bg-intro-mobile.svg') center no-repeat;
        background-size: 345px, cover;
        margin-bottom: 1.2em;
    }
    @media screen and (min-width: 768px) {
        text-align: left;
        background:  url('../static/images/bg-intro-desktop.svg') left 379px top -55px no-repeat;
        background-size: cover; 
        min-height: 550px;
        box-sizing: border-box;
        &-content{
            position: relative;
            display: grid;
            align-items: center;
            min-height: 550px;
            grid-template-areas: "description image";
            grid-template-columns: 370px 1fr;
            
        } 
        &-description{
            // border: solid 1px rgb(76, 11, 145);
        }
        &-imagePng{
            display: none;
        }
        &-img{
            grid-area: image;
            min-height: inherit;
            position: absolute;
            top: 0;
            width: 500px;
            right: 0px;
            left: 0px;
            height: 768px;
            // background: url('../static/images/image-mockups.png') left bottom no-repeat;
            background-size: cover;
            
        }
    }

    @media screen and (min-width: 1024px) {
        
        background-size: cover; 
        // height: 700px;

        .hero-img{
            display: none;
        }

        &-content{
            // border: solid 5px brown;
        }
        &-imagePng{
            display: block;
            // position: absolute;
            // top: -20px;
            // // left: 39%;
            // right: -185px;
            // z-index: 1;
            // margin: 0%;
        }
        
        // &-img{
        //     background: none;
        //     left: 150px;
        //     right: 0;
        //     top: 0;
        // }
    }
    
}