.header {
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between;
}

.menu {
  width: 40px;
  background: url("../images/icon-hamburger.svg") center no-repeat;
}

.hero {
  text-align: center;
  padding-bottom: 5em;
}
.hero .copy {
  margin-bottom: 2.3em;
}
.hero-img {
  height: 300px;
  margin: 0 -1.5em;
  background: url("../static/images/image-mockups.png") center bottom no-repeat, url("../static/images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin-bottom: 1.2em;
}

.why {
  text-align: center;
  background: var(--light-grayish-blue);
  padding: 5em 0;
}
.why .copy {
  margin-bottom: 3em;
}
.why-item .copy {
  margin-bottom: 2em;
}
.why-item img {
  margin-bottom: 1.3em;
}

.latestArticle {
  padding-top: 5em 0;
  background: var(--very-light-gray);
}
.latestArticle .title-h1 {
  text-align: center;
}
.latestArticle-grid {
  display: grid;
  grid-row-gap: 2em;
}
.latestArticle-item {
  border-radius: 0.5em;
  overflow: hidden;
  background: var(--white);
}
.latestArticle-item-content {
  padding: 2em;
}
.latestArticle-item small {
  color: var(--grayish-blue);
  margin-bottom: 1em;
  display: block;
}
.latestArticle-item img {
  width: 100%;
  object-fit: cover;
}

.footer {
  background: var(--darkBlue);
  padding: 2em 0;
  text-align: center;
}
.footer svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}
.footer-link {
  display: block;
  text-decoration: none;
  color: var(--light-grayish-blue);
  margin-bottom: 2em;
}
.footer-social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  grid-column-gap: 1em;
  justify-content: center;
  margin: 2.5em 0;
}
.footer-copyright {
  margin-top: 2.5em;
  font-size: 14px;
}

:root {
  --font: "Public Sans", sans-serif;
  font-size: 16px;
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 16px;
  color: var(--grayish-blue);
}

.copy {
  line-height: 1.5;
  font-size: 0.9em;
}

.wrapper {
  padding: 0 1.5em;
}

.title-h1 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1, 1;
  margin: 0;
  margin-bottom: 0.5em;
}
.title-h2 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1, 1;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.title-h3 {
  font-size: 2.2em;
  color: var(--darkBlue);
  font-weight: 300;
  line-height: 1, 1;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.button {
  border: none;
  padding: 0.9em 2.2em;
  border-radius: 20px;
  color: var(--white);
  background-image: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
}

.icon-facebook {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-facebook.svg");
}
.icon-youtube {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-youtube.svg");
}
.icon-twitter {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-twitter.svg");
}
.icon-pinterest {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-pinterest.svg");
}
.icon-instagram {
  width: 25px;
  height: 25px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-image: url("../../static/images/icon-instagram.svg");
}

/*# sourceMappingURL=style.css.map */
